body {
  background-color: #f2f2f2;
}

/* -------------------- */
/* --------HEADER------ */
/* -------------------- */

.head {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  background-color: white;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin: 10px 0;
  background-color: white;
}
header img {
  height: 40px;
  width: 100px;
  object-fit: cover;
}
header button {
  height: 40px;
  width: 150px;
}

header input {
  width: 200px;
}

/* -------------------- */
/* -------HERO--------- */
/* -------------------- */

.inner {
  background-image: url(./images/background.jpg);
  background-position: center;
  background-size: cover;
  height: 455px;
}

.inner-text {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px lightgrey;
  display: flex;
  flex-direction: column;
  font-size: 34px;
  height: 220px;
  justify-content: center;
  padding: 25px;
  position: absolute;
  top: 75px;
  width: 360px;
  margin: 100px 300px 0px 300px;
}

.inner button {
  margin-top: 30px;
  height: 40px;
  width: 150px;
}
/* -------------------- */
/* -------MAIN--------- */
/* -------------------- */

main {
  background-color: white;
}
main img {
  height: 360px;
  width: 235px;
  object-fit: cover;
}
.card-list {
  margin: 20px 300px;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* -------------------- */
/* -----PAGE OFFERS---- */
/* -------------------- */

.button-back {
  background-color: #017580;
  color: white;
  font-size: 13px;
  margin: 10px 10px;
  border-radius: 3px;
}
.offer-Details {
  height: 300px;
  width: 400px;
  background-color: white;
  /* border: 1px solid red; */
  padding: 30px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.offer-Details p {
  color: rgb(102, 101, 101);
}

.offer-Img img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  /* margin-left: 100px; */
}

.offer-Container {
  margin: 100px;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}
main.offer {
  background-color: #f2f2f2;
}
div .offer-Price {
  font-size: 25px;
  margin-bottom: 15px;
}
