body {
  background-color: white;
}

/* -------------------- */
/* -------------------- */
/* --------HEADER------ */
/* -------------------- */
/* -------------------- */

header img {
  height: 40px;
  width: 100px;
  object-fit: cover;
}
header button {
  height: 40px;
  width: 150px;
  font-size: 12px;
  border-radius: 6px;
  border: none;
  background-color: white;
  border: 1px solid #75c1c8;
  color: #017580;
}

header input {
  width: 200px;
  border-radius: 3px;
}

.signOut {
  background-color: rgb(228, 114, 114);
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 10px 0;
  width: 1280px;
  /* border: 1px solid red; */
}

.header-button {
  display: flex;
  gap: 30px;
}
.search-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-input {
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  font-family: Maison Neue;
  font-size: 16px;
  height: 37px;
  outline: none;
  padding-left: 40px;
  width: 400px;
}

.sortPrice {
  display: flex;
  width: 270px;
  margin-top: 10px;
  /* border: 1px solid blue; */
}
.sortPrice-check {
  margin-left: -50px;
}

/* -------------------- */
/* -------------------- */
/* -------HERO--------- */
/* -------------------- */
/* -------------------- */

.inner {
  background-image: url(./images/background.jpg);
  background-position: center;
  background-size: cover;
  height: 455px;
}

.inner-text {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px lightgrey;
  display: flex;
  flex-direction: column;
  font-size: 34px;
  height: 220px;
  justify-content: center;
  padding: 25px;
  position: absolute;
  top: 75px;
  width: 360px;
  margin: 100px 300px 0px 300px;
}

.hero-button {
  margin-top: 30px;
  height: 40px;
  width: 150px;
  border: 1px solid #0ab1ba;
  border-radius: 6px;
  font-weight: normal;
}
/* -------------------- */
/* -------------------- */
/* -------MAIN--------- */
/* -------------------- */
/* -------------------- */

main {
  background-color: white;
  /* width: 1280px; */
}
main img {
  height: 360px;
  width: 235px;
  object-fit: cover;
}
.card-list {
  margin: 0 auto;
  margin-top: 50px;
  width: 1280px;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card-username {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
/* -------------------- */
/* -------------------- */
/* -----PAGE OFFERS---- */
/* -------------------- */
/* -------------------- */

.button-back {
  background-color: #017580;
  color: white;
  font-size: 13px;
  margin: 10px 10px;
  border-radius: 3px;
}
.offer-Details {
  height: 400px;
  width: 400px;
  background-color: white;
  /* border: 1px solid red; */
  padding: 30px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.offer-Details p {
  color: rgb(102, 101, 101);
}

.offer-Img img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  /* margin-left: 100px; */
}

.offer-Container {
  margin: 100px;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}
main.offer {
  background-color: #f2f2f2;
}
div .offer-Price {
  font-size: 25px;
  margin-bottom: 15px;
}

main .offer-Details .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: contain;
  /* border: 1px solid red; */
}
/* -------------------- */
/* -------------------- */
/* -----PAGE SIGNUP---- */
/* -------------------- */
/* -------------------- */

.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
}

.signup h2 {
  font-size: 25px;
  text-align: center;
  margin: 40px 0;
}

.signup-container {
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}

.signup-form {
  margin: auto;
  width: 275px;
}
.signup-form input[type="checkbox"] {
  margin-right: 20px;
  height: 25px;
}
input[type="checkbox"] {
  cursor: pointer;
}
.checkbox-container span {
  color: #666;
  font-size: 20px;
}
.checkbox-container p {
  margin-top: 15px;
  color: #666;
}
/* -------------------- */
/* -------------------- */
/* --------LOGIN------- */
/* -------------------- */
/* -------------------- */

.signup-container h2 {
  margin-top: 20px;
  font-size: 25px;
  margin: 40px 0;
}

.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-container {
  justify-content: center;
  margin-top: 30px;
  background-color: white;
  text-align: center;
}
.signup-form > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  background-color: white;
  font-family: Maison Neue;
  font-size: 18px;
  width: 300px;
}

.form-validation {
  height: 30px;
  width: 300px;
  font-family: Maison Neue;
}

.subscribe {
  color: #017580;
  font-size: 15px;
  text-decoration: none;
}

/* -------------------- */
/* -------------------- */
/* -------PUBLISH------ */
/* -------------------- */
/* -------------------- */

.publish-container h1 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin: 40px 0;
}

form {
  display: block;
  flex-direction: column;
}
.publish-container {
  margin: 0 auto;
  width: 1280px;
}

.file-select {
  background-color: white;
  box-shadow: 0 0 2px gray;
  margin: 20px 0;
  padding: 24px;
  text-align: center;
  height: 100px;
}

.label-file {
  margin-top: 30px;
  color: #017580;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-label {
  border: 1px solid #017580;
  padding: 10px;
  font-size: 20px;
  font-weight: medium;
}

.input-file {
  display: none;
}

.text-input-section {
  background-color: #fff;
  box-shadow: 0 0 2px gray;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.text-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid #ebedee;
}
.text-input > textarea {
  border: none;
  border-bottom: 1px solid #ebedee;
  font-family: Maison Neue;
  font-size: 16px;
  outline: none;
  resize: none;
  width: 50%;
}
.text-input > input {
  border: none;
  border-bottom: 1px solid #ebedee;
  font-family: Maison Neue;
  font-size: 16px;
  outline: none;
  resize: none;
  width: 50%;
}
.form-button-div {
  display: flex;
  justify-content: flex-end;
}

.form-validation {
  font: inherit;
  outline: inherit;
  padding: 12px;
}

.form-validation {
  background-color: #0ab1ba;
  border: none;
  border-radius: 6px;
  height: 50px;
  color: #fff;
  margin: 50px 0;
}
button {
  cursor: pointer;
}
